:root {
    --color-positive: rgb(0, 167, 50);
    --color-neutral: rgb(224, 165, 0);
    --color-negative: rgba(200, 0, 0, 1);
	--color-greyed: rgb(92, 92, 92);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	color: rgb(255, 255, 255);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(26, 26, 26);
	font-size: 1em;
	height: 100%;
}

#Wrap {
	width: 900px;
	margin: 0 auto;
	color: rgb(221, 215, 210);
	background-color: rgb(43, 43, 43);
	border: 1px solid rgb(82, 82, 82);
	border-radius: 15px;
	padding: 0px 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

div.MissionCount {
	color: rgb(170, 170, 170);
	padding: 10px 10px 0 10px;
}

div.SystemHeader {
	margin: 10px 0 0 0;
	padding: 10px 10px 5px 10px;
	font-weight: bold;
	font-size: 1.4em;
	color: rgb(255, 255, 255);
	background-color: rgb(202, 97, 11);
}

div.FactionHeader {
	margin: 0;
	padding: 2px 10px 2px 20px;
	font-size: 1.2em;
	font-weight: 400;
	color: rgb(255, 255, 255);
	background-color: rgb(53, 53, 53);
}

div.Mission {
	margin: 0;
	padding: 5px 10px 5px 40px;
	font-size: 1.0em;
	color: rgb(170, 170, 170);
}

em.Expiry {
	color: var(--color-negative);
}

em.Done {
	color: var(--color-positive);
}

div.FactionRep .FactionRepBad
{
	color: var(--color-negative);
	display: inline;
	margin-left: .5em;
	font-size: .8em;
	font-weight: 200;
}

.FactionRepNeutral
{
	color: var(--color-neutral);
	display: inline;
	margin-left: .5em;
	font-size: .8em;
	font-weight: 200;
}

.FactionRepGood
{
	color: var(--color-positive);
	display: inline;
	margin-left: .5em;
	font-size: .8em;
	font-weight: 200;
}

em.Credits {
	color: #dada7b;
	font-style: normal;
	text-shadow: 0 0 5px #ffff338a;
}

em.Greyed {
	color: var(--color-greyed);
}