html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

html{
	color:rgb(255, 255, 255);
}

body{
	font-family:Arial,Helvetica,sans-serif;
	background-color:rgb(0, 0, 0);
	color:rgb(255,255,255);
	font-size:1em;
	height: 100%;
}

#Wrap
{
	width:800px;
	margin: 0 auto;
	color:rgb(176, 174, 172);
	background-color:rgb(16,16,16);
	border: 1px solid rgb(32,32,32);
	border-radius: 25px;
	padding: 30px 20px;
}

.MissionCount
{
    color:rgb(170,170,170)
}

.SystemHeader
{
    padding:20px 10px 5px 3px;
	font-weight:bold;
	font-size:1.6em;
	color:rgb(255,255,225);
}

.FactionHeader
{
	padding: 0px 10px 0px 20px;
	font-size: 1.4em;
	font-weight: bold;
	color:rgb(255,255,255);
	margin-bottom: 2px;
}

.Mission
{
	padding:0px 40px;
	font-size: 1.4em;
	color:rgb(170,170,170);
	margin-bottom: 2px;
}

